.container {
  margin-top: 5rem;
}

.main {
  padding: 0 1rem;
  width: 100%;
  background-image: url("/images/background-home-presentation-right.svg");
  background-position-x: 100%;
  background-position-y: calc(100% + 1px);
  background-repeat: no-repeat;
  height: 50rem;
}

.presentation {
  min-height: 24rem;
  width: fit-content;
  background-image: url("/images/heart-plants.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10rem;
}

.presentationTitle {
  font-family: "Pacifico", cursive;
  font-size: 2rem;
}

.presentationSubtitle {
  font-weight: 500;
  color: #374151;
}

@media (min-width: 1024px) {
  .main {
    background-image: url("/images/background-home-presentation-left.svg"),
      url("/images/background-home-presentation-right.svg");
    background-position-x: 0px, 100%;
    background-position-y: calc(100% + 1px), calc(100% + 1px);
  }
}
